In [22]:
import pandas as pd
import matplotlib as plt
import statsmodels as sm
import numpy as np

In [23]:
df = pd.read_csv("data/inf_exp_data.csv")
df

/Users/duncanblack/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5,6,13,15,16,18,32,34,36,37,39,40,41,45,46,47,49,50,51,52,53,54,55,71,80,81,82,83,84,85,86,87,88,89,90,91,92,96,98,100,101,103,104,105,106,107,108,109) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CASEID,YYYYMM,YYYYQ,YYYY,ID,IDPREV,DATEPR,ICS,ICC,ICE,...,GAS1PX1,GAS1PX2,GAS1,PINC,PINC2,PJOB,PSSA,PCRY,PSTK,WT
0,1,197801,19781,1978,1,,,76.71,116.23,51.32,...,,,,,,,,,,0.00
1,2,197801,19781,1978,2,,,121.12,154.08,99.94,...,,,,,,,,,,0.72
2,3,197801,19781,1978,3,,,2.70,2.70,2.70,...,,,,,,,,,,1.03
3,4,197801,19781,1978,4,,,76.71,154.08,27.01,...,,,,,,,,,,0.00
4,5,197801,19781,1978,5,,,121.12,116.23,124.25,...,,,,,,,,,,0.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303105,303106,202203,20221,2022,2096,1100,202109,31.60,77.69,2.00,...,1,50,50,5.0,30.0,5.0,15.0,3,60.0,0.50
303106,303107,202203,20221,2022,2097,1159,202109,61.21,115.53,26.31,...,3,,0,70.0,70.0,25.0,5.0,3,15.0,0.50
303107,303108,202203,20221,2022,2098,1024,202109,31.60,39.84,26.31,...,1,15,15,40.0,0.0,20.0,40.0,5,50.0,0.50
303108,303109,202203,20221,2022,2099,1094,202109,31.60,77.69,2.00,...,1,100,100,0.0,0.0,0.0,25.0,5,50.0,0.50
303109,303110,202203,20221,2022,2100,1180,202109,16.80,2.00,26.31,...,1,50,50,0.0,0.0,0.0,5.0,3,5.0,0.50

In [24]:
colnames=df.columns

In [25]:
#Period between 1984:1 to 2012:12
cleaned_data=df[(df["YYYYMM"] >= 198401)&(df["YYYYMM"] <= 201212)]
#Only keep first time responces
cleaned_data=cleaned_data[cleaned_data["DATEPR"] == "      "]

In [30]:
# Questions Q1,Q2
questions=["DUR","PX1Q2"]

In [31]:
#Control for demographics
control = ["AGE","SEX","MARRY","EDUC","REGION","YYYYMM","INCOME","NUMADT","NUMKID"]

In [32]:
#Additutes controls
#Q4-12 (Missing 11)
ad_controls = ["PEXP","RINC","RATEX","BUS12","BUS5","UNEMP","PAGO","GOVT"]

In [33]:
#Aggregrate Covariate Controls
ag_control =[]

In [44]:
#Transform Variables

#AGE
cleaned_data["AGE"] = cleaned_data["AGE"].replace({'  ':0})
cleaned_data = cleaned_data.astype({"AGE": int})
cleaned_data["AGE2"] = cleaned_data["AGE"]*cleaned_data["AGE"]
cleaned_data["AGE3"] = cleaned_data["AGE2"]*cleaned_data["AGE"]

#SEX
cleaned_data = cleaned_data.astype({"SEX": str})
cleaned_data["SEX"] = cleaned_data["SEX"].replace({"1":"0","2":"1"})

#MARRY
cleaned_data = cleaned_data.astype({"MARRY": str})
cleaned_data["MARRY"] = cleaned_data["MARRY"].replace({"2":"0","3":"0","4":"0","5":"0"})

#COLLEGE
cleaned_data = cleaned_data.astype({"EDUC": str})
cleaned_data["COLLEGE"] = cleaned_data["EDUC"].replace({"1":"0","2":"0","3":"0","4":"0","5":"1","6":"1"})

#REGION DUMMIES
cleaned_data = cleaned_data.astype({"REGION": str})
cleaned_data["REGION"] = cleaned_data["REGION"].replace({"1":"WEST","2":"NORTH CENTRAL","3":"NORTHEAST","4":"SOUTH"})
region=cleaned_data["REGION"]
region_dummies=pd.get_dummies(region)
region_dummies=region_dummies.drop([' '],axis=1)

#MONTHY DUMMIES
cleaned_data = cleaned_data.astype({"YYYYMM": str})
months=cleaned_data["YYYYMM"].str[4:]
month_dummies=pd.get_dummies(months)

#LOG INCOME
cleaned_data["INCOME"] = cleaned_data["INCOME"].replace({'      ':-1})
cleaned_data = cleaned_data.astype({"INCOME": float})
cleaned_data["LOG_INCOME"] = np.log(cleaned_data["INCOME"])

#FAMILY SIZE
cleaned_data["NUMADT"]=cleaned_data["NUMADT"].replace({' ':0})
cleaned_data["NUMKID"]=cleaned_data["NUMKID"].replace({' ':0})
cleaned_data = cleaned_data.astype({"NUMADT": int})
cleaned_data = cleaned_data.astype({"NUMKID": int})
cleaned_data["FAMILY_SIZE"] = cleaned_data["NUMADT"]+cleaned_data["NUMKID"]

#DLZ
cleaned_data["DLZ"] = cleaned_data["ID"]*0
cleaned_data["DLZ"][(df["YYYYMM"] >= 200812)&(df["YYYYMM"] <= 201212)] = 1

/Users/duncanblack/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:364: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/var/folders/_x/3kllznx55r73y92f0mnl7rf80000gn/T/ipykernel_13538/3282068030.py:36: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  cleaned_data["LOG_INCOME"] = np.log(cleaned_data["INCOME"])
/var/folders/_x/3kllznx55r73y92f0mnl7rf80000gn/T/ipykernel_13538/3282068030.py:43: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  cleaned_data["FAMILY_SIZE"] = cleaned_data["NUMADT"]+cleaned_data["NUMKID"]
/var/folders/_x/3kllznx55r73y92f0mnl7rf80000gn/T/ipykernel_13538/3282068030.py:46: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  cleaned_data["DLZ"] = cleaned_data["ID"]*0
/var/folders/_x/3kllznx55r73y92f0mnl7rf80000gn/T/ipykernel_13538/3282068030.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data["DLZ"][(df["YYYYMM"] >= 200812)&(df["YYYYMM"] <= 201212)] = 1

In [45]:
#Summary Stats

cleaned_data = pd.concat([cleaned_data,region_dummies],axis=1)
stats_noncat = ["AGE","AGE2","AGE3","LOG_INCOME","FAMILY_SIZE"]
stats_cat = ["SEX","MARRY","COLLEGE","DLZ","NORTH CENTRAL","NORTHEAST","SOUTH","WEST"]

cleaned_data[stats_cat] = cleaned_data[stats_cat].astype(dtype="category")
cleaned_data[stats_noncat].describe()
cleaned_data[stats_cat].describe()

cleaned_data["DUR"] = cleaned_data["DUR"].astype(dtype="category")
cleaned_data["PX1Q2"] = cleaned_data["PX1Q2"].replace({'  ':0})
cleaned_data["PX1Q2"] = cleaned_data["PX1Q2"].astype({"PX1Q2": int})

cleaned_data[["PX1Q2"]].describe()

               PX1Q2
count  105725.000000
mean       12.700979
std        27.124576
min         0.000000
25%         2.000000
50%         3.000000
75%         7.000000
max        99.000000

In [ ]:
#Find
#Federal Funds Rate
#Civilian unemployment rate
#Current inflation rate (Percent year or year change in CPI)